{% extends 'base.html' %}
{% block title %}About Us{% endblock %}

{% block content %}
<!--For Plugins external css-->
<link rel="stylesheet" href="/static/essence/css/plugins.css" />

<!--Theme custom css -->
<link rel="stylesheet" href="/static/essence/css/style.css">

<!--Theme Responsive css-->
<link rel="stylesheet" href="/static/essence/css/responsive.css" />

    <section class="welcome_area bg-img background-overlay" style="background-image: url(static/essence/img/bg-img/about.jpg)">
    </section>

    <section id="about" class="about roomy-80">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main_about text-center">
                        <h1 class="text-black">Corsell is created by students from Cornell </h1>
                        <h2 class="text-white">- & -</h2>
                        <h3 class="text-black text-uppercase">By Students, For Students</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Featured Section-->
    <section id="features" class="features bg-white">
        <div class="container">
            <div class="row">
                <div class="main_features fix roomy-40">

                    <div class="col-md-5">
                        <div class="features_item">
                            <div class="head_title">
                                <h2 class="text-uppercase">Who<strong> We</strong>  Are</h2>
                            </div>
                        </div>
                    </div>
                    <p>Thousands of Cornell Students every year struggle to buy and sell items,
                      reliant upon a Facebook page which does not update or track the item available,
                      does not cleanly link the buyer and the seller, and is extremely difficult to trawl through.
                      Corsell's goal is to create a dedicated online marketplace for second-hand
                      textbooks, furniture, lifestyle items, educational materials, and subletting of houses.</p>

                    <p>Through the creation of a dedicated space, we hope to make
                      items accessible to any person who might need them, and ease
                      the interactions between buyers looking to buy, and sellers looking to sell.</p>

                    <p>Any person, any product - all on Corsell.</p>
                  </div>
                </div>
              </div>

              <!--Team And Skill Section-->
              <section id="teams" class="teams roomy-80">
                  <div class="container">
                      <div class="row">
                          <div class="main_teams_content fix">
                              <div class="col-md-6">
                                  <div class="teams_item">
                                      <div class="head_title">
                                          <h2 class="text-uppercase">Our <strong>Team</strong></h2>
                                      </div>
                                  </div>
                              </div>
                              <p>We are Singaporeans.
                                But individually, we are a talented, diverse
                                group of students from different colleges and
                                countries striving to make a difference in our community.</p>

                              <div class="col-md-12">
                                  <div class="teams_item text-center sm-m-top-50">
                                      <div class="row">
                                          <div class="col-sm-3">
                                              <img src="static/essence/img/team/sc.jpg" alt="" class="img-circle" />
                                              <h4 class="m-top-20">Zhao <strong>Shi Chong</strong></h4>
                                              <h5>Lead Engineer</h5>
                                              <div class="separator"></div>
                                              <ul class="list-inline">
                                                  <li><a href="https://www.facebook.com/shichong97"><i class="fa fa-facebook"></i></a></li>
                                                  <li><a href=""><i class="fa fa-github"></i></a></li>
                                                  <li><a href="https://www.linkedin.com/in/shichong97/"><i class="fa fa-linkedin"></i></a></li>
                                              </ul>
                                          </div><!-- End off col-md-4 -->

                                          <div class="col-sm-3">
                                              <img src="static/essence/img/team/yx.png" alt="" class="img-circle" />
                                              <h4 class="m-top-20">Yu <strong>Yuxiang</strong></h4>
                                              <h5>Web Engineer</h5>
                                              <div class="separator"></div>
                                              <ul class="list-inline">
                                                  <li><a href="https://www.facebook.com/komachi.onozuka.7"><i class="fa fa-facebook"></i></a></li>
                                                  <li><a href=""><i class="fa fa-github"></i></a></li>
                                                  <li><a href="https://www.linkedin.com/in/yuxiang-yu-a5474616b/"><i class="fa fa-linkedin"></i></a></li>
                                              </ul>
                                          </div><!-- End off col-md-4 -->

                                          <div class="col-sm-3">
                                              <img src="static/essence/img/team/rs.jpg" alt="" class="img-circle" />
                                              <h4 class="m-top-20">Rishabh <strong>Sarup</strong></h4>
                                              <h5>UX Designer</h5>
                                              <div class="separator"></div>
                                              <ul class="list-inline">
                                                  <li><a href="https://www.facebook.com/rishabh.sarup"><i class="fa fa-facebook"></i></a></li>
                                                  <li><a href=""><i class="fa fa-github"></i></a></li>
                                                  <li><a href="https://www.linkedin.com/in/rishabh-sarup-5b113b141/"><i class="fa fa-linkedin"></i></a></li>
                                              </ul>
                                          </div><!-- End off col-md-4 -->

                                          <div class="col-sm-3">
                                              <img src="static/essence/img/team/sam.jpg" alt="" class="img-circle" />
                                              <h4 class="m-top-20">Samuel <strong>Lye</strong></h4>
                                              <h5>UX Designer</h5>
                                              <div class="separator"></div>
                                              <ul class="list-inline">
                                                  <li><a href="https://www.facebook.com/samuellye1998"><i class="fa fa-facebook"></i></a></li>
                                                  <li><a href=""><i class="fa fa-github"></i></a></li>
                                                  <li><a href="https://www.linkedin.com/in/samuellye98/"><i class="fa fa-linkedin"></i></a></li>
                                              </ul>
                                          </div><!-- End off col-md-4 -->
                                      </div>
                                  </div>
                              </div><!-- End off col-md-6 -->

                          </div><!-- End off main Team -->

                          </div><!-- End col-md-12 -->
                      </div><!-- End off row -->
              </section><!-- End off Team & Skill section -->
{% endblock %}
