{% extends "base.html" %}
{% block title %}{{ product.title }}{% endblock %}

{% block content %}

<!-- ##### Single Product Details Area Start ##### -->
<section class="single_product_details_area d-flex align-items-center">

    <!-- Single Product Thumb -->
    <div class="single_product_thumb clearfix">
        {% if product.images.all() | count < 2 %}
            <div>
                <img style="width:100%" src="{{ product.images.first().link }}" alt="">
            </div>
        {% else %}
            <div class="product_thumbnail_slides owl-carousel">
              {% for img in product.images %}
                <img src="{{ img.link }}" alt="">
              {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Single Product Description -->
    <div class="single_product_desc clearfix">
        <span>{{ user.username }}</span>
            <h2>{{product.title}}</h2>
        <p class="product-price"><h4><font size="4">{{product.price}}</h4>
        <p class="product-desc">{{product.description}}</p>
        <p>The Ravenwood Apartments are located just 1 block from the edge of Cornell's West Campus. These modern, spacious apartments are fully furnished from the couches, easy chairs and coffee tables in the living rooms to the desks, dressers and single or double beds (your choice) in your bedrooms. The apartments all have private entrances and are equipped with large kitchens. There are 2 well-lit parking lots to fulfill most parking needs. A conveniently located bus stop is right out front on the corner of University Ave. and Lake St.</p>

        <center><a href="chat/chat.html" class="btn essence-btn" style="padding-left:40px; padding-right:40px; border-style: none; padding-top: 0px; padding-bottom: 0px;">Contact Seller</a></center>
    </div>

</section>



{% endblock %}
