{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Login{% endblock %}
{% block content %}

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/static/login/images/icons/fav.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/login/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/login/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/login/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/login/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/login/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/login/css/main.css">
	<link rel="stylesheet" href="{{url_for('static', filename='signin.css')}}">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('/static/essence/img/bg-img/login.jpg');">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-33 p-b-33">
				<div class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-53">
						Upload your item
					</span>
					<div class="container">
			      		<form class="form-signin" method="POST" enctype="multipart/form-data">
							{{ form.hidden_tag() }}
							{{ wtf.form_field(form.title) }}
								{% for error in form.title.errors %}
								<span style="color: red;">[{{ error }}]</span>
								{% endfor %}

							{{ wtf.form_field(form.description, rows = 5) }}
								{% for error in form.description.errors %}
								<span style="color: red;">[{{ error }}]</span>
								{% endfor %}

              				{{ wtf.form_field(form.price) }}
  								{% for error in form.price.errors %}
  								<span style="color: red;">[{{ error }}]</span>
  								{% endfor %}
							
							{{ form.photo(multiple="multiple") }}
          					<br /><br />
          					<button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
			   			</form>
			    	</div> <!-- /container -->
				</div>
			</div>
		</div>
	</div>
	<div id="dropDownSelect1"></div>
</body>
{% endblock %}
